.navbarU {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  max-height: 70px;
  margin-right: 10px;
}

.menuO {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 10px;
  z-index: 1;
}

.menuO li {
  margin-bottom: 10px;
}

.menuO button {
  display: block;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.menuO button:hover {
  text-decoration: underline;
}

.menuIc {
  width: 60px;
  height: 60px;
}

.menuButtonsContainer {
  display: flex;
  align-items: center;
}

.shoppingCartButton {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
