.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 70px;
  margin-right: 10px;
}

.navlinks {
  list-style: none;
  display: flex;
}

.navlinks li {
  margin-right: 20px;
}

.navlinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 20px;
  background-color: #007bff;
  border-radius: 20px;
}

.navlinks li a:hover {
  background-color: #0056b3;
}
