.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-info {
  background: linear-gradient(to bottom right, #1a1c34, #23263d);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-info p {
  margin: 0;
}

.user-photo img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.user-info {
  text-align: center;
}

.admin-button,
.prodavac-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.prodavac-button {
  background-color: #28a745;
}

.admin-button:hover,
.prodavac-button:hover {
  background-color: #0056b3;
}
