/* Dashboard.module.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-info {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.user-info p {
  margin: 0;
}

.user-photo img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-info {
  text-align: center;
}

.admin-button,
.prodavac-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
}

.prodavac-button {
  background-color: #28a745;
}

.admin-button:hover,
.prodavac-button:hover {
  background-color: #0056b3;
}
