.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4caf50;
  display: flex;
  flex-direction: column;
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.input,
.textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.back-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button[type="submit"] {
  margin-top: 20px;
}

.back-button {
  background-color: #ccc;
}

.imageContainer {
  max-width: 120px;
  max-height: 120px;
  overflow: hidden;
}

.imageContainer img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
