.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Proširili smo prozor do 500 piksela */
  width: 80%; /* Procentualna širina prozora u odnosu na ekran */
}

.modal-content h2 {
  color: black;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.quantity-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.max-quantity-label {
  margin-left: 10px;
  color: black;
}

.total-container {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  margin-left: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
}

.confirm-button {
  background-color: #007bff;
  color: white;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
}

.delivery-address-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.empty-address {
  border: 2px solid red;
}

.comment-container {
  margin-top: 20px;
}

.comment-textarea {
  width: 100%;
  resize: none;
  padding-top: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
